<h2>Welcome to Behavior Trees With Angular</h2>

<div class="hero-unit">
	<h3>Introduction:</h3>
	<p>Borrowed from Game Technology, Behavior Trees are a way of sequencing user activities</p>
	<p>Running in the client, they can be downloaded from servers as code-on-demand and interact with the user to generate a specific product</p>
</div>
	
<div class="hero-unit">
	<h3>With Components From:</h3>
	<ul>
		<li>Machine.js - May Rose Cook 
			<a href='http://machinejs.maryrosecook.com/'>website</a>
			<a href='https://github.com/maryrosecook/machinejs'>GitHub</a>
		</li>
		<li>Angular Seed 
			<a href='http://angularjs.org'>website</a>
			<a href='https://github.com/angular/angular-seed'>GitHub</a>
		</li>
		<li>Twitter Bootstrap
			<a href='http://twitter.github.io/bootstrap/'>Website</a>
			<a href='https://github.com/twitter/bootstrap'>GitHub</a>
		</li>
		<li>Ruote Fluo Editor
			<a href='http://ruote.rubyforge.org/'>Website</a>
			<a href='https://github.com/jmettraux/ruote-fluo'>GitHub</a>
		</li>
	</ul>
</div>

<div class="hero-unit">
	<h3>Contact</h3>
	<pre>
	=cappelaere
	email: pat AT cappelaere DOT com
	skype: patrice_cappelaere
	http://twitter.com/cappelaere
	http://github.com/cappelaere
	http://www.linkedin.com/pub/pat-cappelaere/0/163/236/
	http://www.slideshare.net/cappelaere
	</pre>
</div>

<script>
	var actor	= null;
</script>
