
<div class="row">
	<div class="span12">
		<h2>Concurrent Example Behavior Tree</h2>
		<b>Status:</b> {{ctx.activity}} 
		<br/>
		<br/>
		<div ng-show='showResults'>
			<b>Results:</b> 
			<pre class='prettyprint'>
{{ctx.result}}
			</pre>
		</div>
		<br/>
		<button ng-click="go(actor);" class='btn btn-primary' ng-show="showGenerate">Follow Behavior</button>	
	</div>

	<div class="span12">
			<h2>Behavior Tree</h2>
			
	 		<div id="fluo"></div>
								
			<h2>Javascript Representation Tree</h2>
			<pre>
				<div id='definition_input'></div>
				<br/>
			</pre>
		</div>
	</div>
</div>

<script src='examples/testpar.js'></script>

<script>
	var actor	= TestPar;
	var tree 	= actor.tree;
	var states	= actor.states;
	var title 	= actor.meta.title;
	var html 	= RuoteFluoEditor.syntaxHighlight( tree );
	$('#definition_input').html(html)

	var btree = toFluo( { "behavior": title, "tree": tree } );	
	//$('#btree').html(JSON.stringify(btree))
	
	Fluo.render('fluo', btree, { noOuterBorder: true });
</script>